body {
    background-color: rgba(0,0,69,1);
    overflow: hidden;
}

nav {
    position: absolute;
    top: 2%;
    left: 88%;
    width: 9rem;
    background: transparent;
}

a {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}

svg {
    width: 100%;
    vertical-align: top;
    height: 100%;
}

label {
    margin: 1rem;
    color: whitesmoke;
}

.svg-container {
    height: 100vh;
    width: 101vw;
    margin-left: -0.3rem;
}

.body-container {
    height: 101vh;
    width: 101vw;
    margin-left: -1rem;
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0,0,69,0.1),black 60%, black);
    border-radius: 5px;
}

.option-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
}

.option {
    //    border: 1px solid white;
    margin-top: -0.5rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    max-width: 20rem;
}

.demo {
    width: 35vw;
    margin-left: -2rem;
    height: 6rem;
}

.selected {
    color: orange;
}

.selected:hover {
    color: whitesmoke;
}

#options-bar {
    background: linear-gradient(transparent, rgba(0,0,69,1));
    height: 6rem;
    position: absolute;
    top: 87%;
    left: 1%;
    border: 1px solid rgba(0,0,0,0.2);
    max-width: 27vw;
    display: flex;
}
